<!DOCTYPE html>
<html>
<head>
    <title>Shot Probability Predictor</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='mystyle.css') }}"/>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
</head>


<body>


    <p><h1>
        Basket Ball Shot Classification
    </h1></p>

    <h2>Developed by: Althaf Nazar, Sreejith N, Nohan Joemon and Gautham Govind</h2>
    <div id="overall-div">
        <div>
            <form action="/" method="POST" enctype="multipart/form-data">
                <input type="file" id="input_file" name="input_file" accept="video/mp4" onchange="this.form.submit()">
                <div id="form-div">
                    <label id = "uploadfile" for="input_file">
                        <i class="material-icons">
                            add_photo_alternate
                        </i>
                        Upload a video
                    </label>
                    <a class="github" style="margin-left:15px;text-decoration-line: None;" target="_blank" href="https://github.com/NohanJoemon/Basketball-video-classification"><i style="font-size:20px;" class="fa fa-github"></i>  &nbsp; Github link </a>
                </div>
            </form>
        </div>
        <h5>Note: Video files should be of less than 2 seconds duration. You can download videos from <a target="_blank" href="https://drive.google.com/drive/u/1/folders/1EWkSYgyTKOWqqTYkTfRzKC3vLesaXIIv">here</a> if required.</h5>
    
        <br><br><br><br>
        {% if video_disp %}
        <div id="video-container" style="text-align:centre;">
                <h3>Uploaded Video</h3>
                <video height="300" width="500" muted controls>
                    <source src="{{ url_for('static', filename=video_path) }}" type="video/mp4">
                </video>
        </div>
        {% endif %}

        {% if ans==1 %}
            <div>
                <h3 id = "ans">Wow, that's a shot 	&#129321;</h3>
            </div>
            <audio autoplay>
                <source src="{{ url_for('static', filename='scoring.mp3') }}" type="audio/mpeg">
            </audio>
        {% endif %}
        {% if ans==0 %}
            <div>
                <h3 id = "ans">That's not a shot &#128542;</h3>
            </div>
            <audio autoplay>
                <source src="{{ url_for('static', filename='non_scoring.mp3') }}" type="audio/mpeg">
            </audio>
            {% endif %}
    </div>



</body>


</html>